/* Move down content because we have a fixed navbar that is 3.5rem tall */

body {
  padding-top: 3.5rem;
}


.uppercase{
  text-transform: uppercase;
}




.navbar-dark{
background-color: #00233B;
}

.navbar-expand-md .navbar-nav .nav-link {
padding-right: 2.5rem;
padding-left: .5rem;
font-size: 11px;
color: white;
}


.mr-auto{
  margin:auto;
  text-align: center;
  right: 50%;
}


.jumbotron{
  height:720px;
  height: 80vh;
  background-color: transparent;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 9rem 10rem 0 5rem;
}
.uk{
  background: url('../images/back.jpg');
    position: absolute;
      background-size: cover;

      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
 
        background-attachment: fixed;
  background-position: center; 
}
#black{
  background-color: black;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-attachment: fixed;
  background-position: center; 
  opacity:0.5;
}

.btn{
  border-radius:0;
}


.display-3, .btn-lg, .container h1, h2, h3, h4, p{
font-family: 'IBM Plex Serif', serif;
  position: relative;
  text-align: center;
  color: #00233B;
  font-weight: 400;
  margin-bottom: 1.3rem;
 
}
.container h1 {
font-size: 3.5rem;
}
.container h2{
font-size: 2.5rem;
}
.btn-lg{
  background-color: #F21C1C;
  font-family: 'IBM Plex Serif', serif;
    color: rgb(255,255,255);
    border:none;
    padding: 0.4rem 1.2rem;
font-size: 1.8rem;
}

.aru{
  width:300px;
  margin:30px;
}
.pa {
margin: 1rem 7rem;
font-size: 1.3rem;
}
.foot{
  width:70%;

}

.page-footer{
  background-color:#00233B;
}

.zapis{
  margin-top: 8rem;
}

.sign{
padding:3.5rem;
  background-color: white;
}

#blue{
  width:100%;
    background-color: #00233B;
    margin: 0;
    padding: 1rem;
}
.row{
  width:50%;
}

.button{
  background-color: #FFCC99;
  font-family: 'IBM Plex Serif', serif;
  color: white;
     border:none;
    padding: 0.5rem 4rem;
font-size: 1.2rem;
text-align: center;
text-transform: uppercase;
}

.mt-6{
  margin-top: 7rem;
}

.form-control{
  color: grey;
}

.but{
  margin:2rem 0rem 0rem 0rem;
}

.nav-link, .item{
font-family: 'IBM Plex Serif', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 130%;
text-transform: uppercase;
color: #fff;
text-decoration: none;
padding-right: 20px;
letter-spacing: 0.1em;
white-space: nowrap;
}

.nav-item{
  color: white;
    text-transform: uppercase;
}

.eq-item-title{
  color: #FFCC99;
  font-family: 'IBM Plex Serif', serif;
  text-align: center;
  font-size: 20px;
line-height: 1.2;
font-weight: 600;
}

.eq-item-subtitle{
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
    color: #00233B;
    padding: 1rem;
    color: #00233B;
  font-family: 'IBM Plex Serif', serif;
}

.white, #white, #whi{
  color: white;
font-family: 'IBM Plex Serif', serif;
  text-align: center;
}

.uslugi{
  color: #00233B;
  font-family: 'IBM Plex Serif', serif;
}


.name{
  color: #FFCC99;
  font-family: 'IBM Plex Serif', serif;
font-weight: bold;
font-size: 12px;
line-height: 130%;
letter-spacing: 0.3em;
text-transform: uppercase;
padding-left: 1rem;
}

.item{
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem;
}

.img{
  height:22rem;
}
.shad{
  box-shadow: 5px 5px 6px rgba(0,0,0,0.1);
}
.oborud{
  margin: auto;
  display: table;
}
#no-my{
  margin-bottom: 3rem;
  margin-top: 3rem;
  }


@media (max-width: 1280px) { 
.jumbotron{
  margin:7rem 4rem;
 }
 #whi{
  font-size: 3rem;
 }
 #white{
  font-size: 0.9rem;
 }
 .zapis{
  width:23rem;
 }
 #priem{
  font-size: 2.5rem;
 }

.sign{
  padding: 2rem;
}
.imya{
  font-size: 1.4rem;
}
.uslugi{
  font-size: 0.9rem;
  padding-left: 3.5rem;
}
.prog-img{
  width:58rem;
}
}

@media (max-width: 991px) { 
.jumbotron{
  margin:7rem 2rem;
 }
 #whi{
  font-size: 2.5rem;
 }
 #white{
  font-size: 0.9rem;
 }
 .zapis{
  width:20rem;
  margin-top: 8rem;
 }
 #priem{
  font-size: 2.3rem;
 }
 .button{
  padding: 0.2rem 2.2rem;
}

.sign{
  padding: 2rem;
}
.imya{
  font-size: 1rem;
  margin-bottom: .7rem;
  margin-top: .3rem;
}
.uslugi{
  font-size: 0.75rem;
  padding-left: 4.1rem;
  padding-right: 0;
}
.prog-img{
  width:46rem;
}
.container{
padding-left: 0;
padding-right: 0;
max-width: 765px; 
display: block;
  }
.img{
  height: 19rem;
}

}

@media (max-width: 768px) { 
  .row{
    display: block;
    width: 100%;
    margin: 0;
  }
  .uk{
    height: 60rem;
  }
  .glavnaya{
  background-image: url('../images/back.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  }
.jumbotron{
  margin:7rem 2rem 0 0;
  height: 400px;
 }
 #whi{
  font-size: 2.5rem;
 }
 #white{
  font-size: 0.9rem;
 }
 .zapis{
  width:100%;
  margin:0;
 }
 #priem{
  font-size: 2.3rem;
 }
 .button{
  padding: 1rem 3rem;
      margin: 0px 5.5rem;
}

.sign{
  padding: 2rem;
}
.imya{
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 1.7rem;
  margin-top: .3rem;
}
.uslugi{
  font-size: 1rem;
  padding-left: 0;
  padding-right: 0;
}
.usluga{
  display: flex;
  flex-wrap: nowrap;
}
.shad{
  margin: auto;
}
#no-my{
  margin-bottom: 0;
}
.prog-img{
  width:100%;
}
#programma{
  font-size: 2rem;
}
.container{
padding-left: 0;
padding-right: 0;
max-width: 765px; 
display: block;
  }
.img{
  height: 22rem;
}
.col-sm-6{
  max-width: 100%;
  margin-bottom: 2rem;
}
.mt{
  margin-top: 6rem;
}


}
